<IfModule mod_rewrite.c>
 
	# initialize basic rewrite settings
	RewriteEngine On
	RewriteBase /

	# rewrite application urls based upon internal logic
	RewriteRule ^/?property_pdfs/.+$ - [L]
	RewriteRule ^/?property_images/.+$ - [L]
	RewriteCond $1 !^(index\.php|images|robots\.txt|js|png|gif|css|less|resources)

	# rewrite index.php file and remove it
	RewriteRule ^(.*)$ /index.php/$1 [L]
 
</IfModule>
 
<IfModule !mod_rewrite.c>
 
	# Without mod_rewrite, route 404's to the front controller
	ErrorDocument 404 /index.php
 
</IfModule>
