@import "mixins";
@import "variables";
@import "color_mixins";

#bumpbox_out_trigger {

	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	height:100%;
	width:100%;
	display:none;
	z-index:40;

	// mixins etc
	.dark_background(0.8);
}

/*************** GENERAL BUMPBOX STYLES ****************/
.bumpbox {

	z-index:60;
	display:none;
	position:fixed;
	top:15%;
	padding: 2em 4em 2em 4em;
	left:20%;
	right:20%;
	max-height:80%;
	.box_shadow();
	.border();
	.base_font();
	.dark_background(@dark_opacity);
	.border_radius();
}

.bumpbox > .thumbnails {

	// THIS CODE ASSUMES THAT WE ARE USING 6 ELEMENTS
	width: 100%;
	position: relative;
	margin: 0 auto;
	display: block;
	overflow-y: auto;
	padding-top:1.2em;

	> ul {

		width: 100%;
		list-style-type:none;
		padding:0;
	}

	> ul > li, > div {

		width: 14.67%;
		float:left;
		margin-left:2%;
		cursor:pointer;
		.border_radius(10px, 10px, 10px, 10px, 10px);


		&:hover {

			.dark_background(@dark_opacity);

		}

		&:first-child {

			margin-left: 0;

		}

		img {

			position: relative;
			width: 90%;
			display: block;
			margin: 2% auto;

		}

		h1, h2 {

			position:relative;
			color: white;
			margin: 0.2em auto;
			text-align:center;
			font-size: 1.2em;
		}

		h1 {
			margin-top:1em;
		}
		h2 {

			font-size:0.9em;

		}
	}

	.selected {

		.light_background(0.2);
	}
}


.bumpbox > .content {

	position:relative;
	display:block;
	width: 100%;
	.border_radius();
	color: white;
	padding:0.5em 2% 0.5em 2%;

	h1 {

		text-align:center;
		font-size: 1.5em;
	}
}

/******** INDIVIDUAL BUMPBOX ELEMENTS **********/
.bumpbox.contact > div, .bumpbox.listing_inquire > div {

	// global contact styles
	h1, span {
		display:block;
		text-align:center;
	}

	// address only style
	&:first-child {//address section

		height:30%;
		width:50%;
		display:block;
		position:relative;
		margin:0 auto;

		span {
			height:8px;

		}

	}

	// form styles
	&:last-child {//email form

		width:100%;

		input[type="text"], textarea, button{

			.base_font;
			color:black;
			display:block;
			width:80%;
			padding:0.1em 0 0.1em 0;
			font-size:1.1em;
			margin: 1em auto;
			background-color:rgba(255, 255,255,0.8);
		}

		button {
			margin:0 auto 2em;
			cursor:pointer;
			width:50%;
			.border_radius;
			&:hover {
				background-color:gray;
			}
		}

		div.message {

			display:none;
			width:50%;
			margin:0 auto;
			color:white;
		}
	}
}
//end of contact


/******* TEAM *****/
/******* TEAM *****/
/******* TEAM *****/
/******* TEAM *****/
/******* TEAM *****/
.bumpbox.team > .content, .bumpbox.about > .content {

	.light_background(0.2);
	width:96%;
	margin-top:2em;
	height: 12em;

	div {


		// basic elements
		width:100%;
		height:100%;
		display:none;	
		overflow-y:auto;

		// control elements
		&:first-child {

			display:block;

		}

		// text elements
		h1 {

			font-size:1.4em;
			text-align:center;
		}

		p {

			color:white;
			font-size: 1.3em;

		}
	}
}

/******** SERVICES ********/
/******** SERVICES ********/
/******** SERVICES ********/
/******** SERVICES ********/
/******** SERVICES ********/
.bumpbox.services > .thumbnails, .bumpbox.about > .thumbnails, .bumpbox.map > .thumbnails, .bumpbox.listing_map {

	width: 100%;
	overflow-x:hidden;
	
	ul {
		position:relative;
		left:0;
		// left:-2em;

		width: 100%;
		list-style-type:none;
		li {

			display:block;
			text-align:center;
			cursor:pointer;
			width:31%;
			margin-left:1%;
			float: left;
			padding:1em 0 1em 0;
			.light_background(0.1);
			.border_radius(0.5em, 0.5em, 0.5em, 0.5em, 0.5em);

			&:last-child {
				margin-right:1%;
			}

			&:hover {
				.light_background(0.4);
			}
		}
		li.selected {

			.light_background(0.4);

		}
	}
}

// team thumbnail images etc
.bumpbox.team > .thumbnails > ul > li {

	> img {

		height: 120px;
		width: auto;

	}
}

.bumpbox.about > .thumbnails > ul > li {

	width: 23%;
}

.bumpbox.map > .thumbnails > ul > li {

	width: 18%;
}

.bumpbox.services > .content, .bumpbox.about > .content, .bumpbox.map > .content {

	height: 17em;

	> div {
		height: 100%;
		display: none;
		overflow-y:auto;

		&:first-child {

			display:block;

		}
	}
}

.bumpbox.map > .content {

	height: 20em;

	> div > div {

		position:relative;
		.light_background();
		height:80%;
		width:100%;


	}
}

.bumpbox.map {

	.large_bumpbox_geometry;

	.content {

		width: 80%;
		height:75%;
		margin: 0 auto;
	}

	.thumbnails {

		width:90%;
		height:25%;

	}
	
}

/***** MAP INFO BOX USED FOR THE INDIVIDUAL MAP THUMBNAILS ******/
.map_info_box {

	width: 50px;
	height:50px;
	.dark_background;
	.simple_radius(5px);

	img {
		cursor:pointer;
		position:absolute;
		height:80%;
		left:10%;
		top:10%;
		width:80%;
	}
}

#infobox {
	
	background-color: orange;
	a {
		color: black;
	}
}
