@import "mixins";
@import "site_wide";

#homepage_blurb{
	
	.dark_background(@dark_opacity);
	
	position:absolute;
	right:@border_width*0.5;
	bottom:@border_width;
	max-width:40%;
	.base_font(@font_size*1.2);
	padding: 10px 10px 5px 10px;
	.border(@dark_shadow, 2px, 0px, 0px, 2px);
	border-top-left-radius:@bumpbox_border_radius;
	&:hover{
		.box_shadow(@light_shadow, -20px, -2px, 2px);
	}
	div{
		display:none;
		
		&:first-child{
			display:block;
		}
	}
}

#member_thumbnails {

	float: left;
	position: absolute;
	top: 9em;
	bottom: @border_width;
	.dark_background(0.4);
	border-radius: 0.5em;
	left: 6em;
	display:block;
	width: 14em;
	overflow-y: auto;

	a {
		display: block;
		.dark_background();
		height: 7em;
		width: 100%;
		margin-bottom: 0.5em;
		padding-top: 0.5em;
		
		div {

			position: relative;
			float: left;
			width: 45%;
		
			height: 100%;
			&:first-of-type {

				margin-right: 10%;

			}


		}
		h1, h2 {
		
			.base_font();
	
		}

		img {

			position: relative;
			display: block;
			height: 90%;
			max-width: 80%;
			margin: 0 auto;
		}

	}

	a.selected {

		.dark_background(1);
	}

	a:last-of-type {

		> div {
			> h2 {
				
				max-width: 70%;
			}
		}
	}

	a:first-of-type {
		> div {
			
			&:first-of-type {

				width: 55%;
				margin-right: 0;
				> img {
					
					margin-top: 10%;
					height: 80%;
				}
			}
			
			> h1 {

				display: none;
			}

			> h2 {
			
				text-align: center;
				max-width: 70%;
			}
		}
	}
}

#current_member {
	
	position: absolute;
	top: 9em;
	left: 22em;
	right: 6em;
	border-radius: 1em;
	bottom: @border_width;
	.dark_background(0.9);
	
	div {

		position: relative;
		float: left;
		width: 60%;
		height: 100%;
		margin-right: 5%;

		&:first-of-type {

			width: 30%;
		}

		&:last-of-type {
		
			overflow-y: auto;
		}

	}
	h1, h2 {
		
		.base_font(1.3em);
		text-align: center;
		padding: 0.2em;
		margin: 0;
	}

	h1 {

		margin-top: 1.5em;
		font-size: 1.6em;
	}

	img {

		border-top-left-radius: 1em;
		display: block;
		margin: 0 auto;
		width: 100%;
		margin-top: 5%;
		margin-left: 5%;
		margin-bottom: 2%;

	}
	
	p {
		margin-left: 5%;
		margin-right: 5%;
		color: white;
		.base_font(1em);

	}
}

/**** Special rules for team bumpbox only *****/
#current_member > div.team {

	clear:both;
	position: relative;
	float: none;
	width: 80%;
	margin: 0 auto;

	&:nth-of-type(1) {
		
		max-height: 10%;

	}

	&:nth-of-type(2) {
		
		padding: 0;
		max-height: 80%;
		border-radius: 1em;

		> img {
			border-radius: 1em;
			border-top-right-radius: 1em;
			margin: 0 auto;
			max-width: 80%;
			max-height: 100%;
		}
	}
}



