@import "mixins";
@import "site_wide";

#homepage_blurb{
	
	.dark_background(@dark_opacity);
	
	position:absolute;
	right:@border_width*0.5;
	bottom:@border_width;
	max-width:40%;
	.base_font(@font_size*1.2);
	padding: 10px 10px 5px 10px;
	.border(@dark_shadow, 2px, 0px, 0px, 2px);
	border-top-left-radius:@bumpbox_border_radius;
	&:hover{
		.box_shadow(@light_shadow, -20px, -2px, 2px);
	}
	div{
		display:none;
		
		&:first-child{
			display:block;
		}
	}
}

