@import "variables";
@import "mixins";

/****** GLOBAL LISTING BUMPBOX STYLES *******/

div.bumpbox.similar_properties, div.bumpbox.listing_map {

	position:fixed;
	top:5%;
	left: 10%;
	right: 10%;
	bottom: 5%;
	height:90%;
	width:80%;
	padding-right:0;
	padding-left:0;

}


// this is built to the spec that there are only 5 similar looking properties permitted!
.bumpbox.similar_properties > div.header {
	> h1, h2 {
		text-align:center;
	}
}

.bumpbox.similar_properties > div.content {

	position:relative;
	height:80%;

	> div {//this corresponds to the individual thumbnail elements
		display:block;
		float:left;
		margin-left:1%;
		margin-bottom:2em;
		width:18%;
		height:80%;
		overflow-y:auto;
		.light_background();

		@radius:1em;

		&:first-child {

			border-top-left-radius:@radius;
		}

		&:nth-child(5) {

			border-top-right-radius:@radius;
		}

		&:nth-child(5n + 1) {

			border-bottom-left-radius:@radius;

		} 

		&:last-child {

			border-bottom-right-radius:@radius;

		}

		h1 {
			font-size: 1em;
		}

		> a {

			width:100%;
			cursor:pointer;
			display:block;
			position:relative;
		}

		> p {

			position: relative;
			width:80%;
			margin:1em auto;

		}

		img {
			position: relative;
			display:block;
			width:80%;	
			margin:1em auto;

			&:hover {
				padding:0.5em;

				.dark_background();
			}
		}
		// target specific elements!
	}//end individual content
}

/*********** PDF VIEW -- THIS IS TEMPORARY FOR NOW! ************/
.bumpbox.listing_pdf > div{

	&:first-child {
		position: relative;
		width: 80%;
		margin: 0 auto;

		> h1 {

			text-align:middle;
		}
	}

	&:nth-child(2) {

		display:block;
		position:relative;
		width:40%;
		margin:0 auto;
		padding: 1em;
		.dark_background;

		> a {	

			width: 100%;
			position:relative;

			> img {
				position:relative;
				width:100%;
			}
			
			> span {

				width:100%;
				display:block;
				text-align:center;
				transition: color 2s;
				-webkit-transition:color 2s;

				&:hover {
					color: gray;
				}
			}

		}
	}
}

/*********** LISITNG MAP BUMPBOX ********/
.bumpbox.listing_map {

	height:100%;
	width:80%;

	> div.content {

		display:block;
		position:relative;
		left:7.5%;
		width:80%;
		.light_background;
		height:70%;
		padding:1em;

		> div {
	
			display:none;

			&:nth-child(1) {

				display:block;
			}
		}
	}

	> div.thumbnails {
		width:70%;
		overflow-x:hidden;
	}
}

// 
div.bumpbox.listing_map > div.content > div {

		height:100%;
		width:100%;
}

/*********** LISTING MAP WALKSCORE BUMPBOX ***********/
div.bumpbox.listing_map > div.content > div[data-id="walkscore"], div.bumpbox.listing_map > div.content > div[data-id="directions"] {

	> div {

		display:block;
		position:relative;
		float:left;
		width:47.5%;
		height:100%;
		.dark_background();
		.border_radius;

	}

	> div:last-child {

		// map goes here! -- not much css needed
		margin-left:5%;
	}
	clear:both;
}
	
// walkscore left side element
div.bumpbox.listing_map > div.content > div[data-id="walkscore"] > div:first-child > div, div.bumpbox.listing_map > div.content > div[data-id="directions"] > div:first-child > div{

	position:relative;
	float:left;

	// initialize thumbnail for the property
	&:first-child {
		// walkscore logo goes here
		width:100%;
		margin:0 auto;
		position: relative;

		> img {

			float:left;
			width:25%;
			border-top-left-radius:20px;
		}

		> h1 {

			float:left;
			width:75%;
		}
	}

	// third child -- results
	&:nth-child(2), &:nth-child(3) {

		width:100%;
		position:relative;
		margin-top:0.5em;
		height:50%;
		overflow-y:auto;

		// span element
		> span {

			font-size:1em;
			width:100%;
			display:block;
			position:relative;
			text-align:center;
			margin-bottom:1em;

		}

	// search bar
		> input[type="text"] {

			float:left;
			position:relative;
			width:70%;
			left:1em;
			margin-top:1.5em;
			display:block;
			margin:0 auto;
			padding: 0.25em 0 0.25em 0;
		}

		> select {

			position:relative;
			float:left;
			top:1em;
			left: 0.8em;
		}

		> button[type="submit"] {

			position:relative;
			display:block;
			float:left;
			margin-left:1em;
			border-radius:0;
			padding: 0.5em 1em 0.50em 1em;
			top:-0.5em;
			left:1em;
			cursor:pointer;
			background-color:rgb(242,242,242);
		}

		> button[type="submit"] {

			&:hover {

				.dark_background(0.1);
				color:white;
			}
		}

		div {
			// search results are changed here
			width:100%;
		}
	}

		// walkscore image 
	&:nth-child(2) {

		width:100%;
		height:2.5em;

		> a {

			position:relative;
			float:left;
			margin-left:0.5em;
			height:100%;
			> span {
				display:block;
				height:100%;
				font-size: 2em;
				margin-top:0.15em;
			}
			> img {

				height:100%;
			}	
		}
	}
}

/************ DIRECTIONS ONLY ELEMENTS *************/


div.bumpbox.listing_map > div.content > div[data-id="directions"] > div {

	&:first-child {
		height:100%;
		> div {
			width:100%;
			&:nth-child(2) {	
				height:70%;
				clear:both;
				width:100%;
			
				> input[type="text"], > button[type="submit"] {

					clear:both;
					width:90%;
					position:relative;
					display:block;
					margin: 1em auto;
				}

				> button[type="submit"] {

					position:relative;
					left:25%;
					width:50%;
					margin:1em auto;
				}
			}
		}
	}

	&:nth-child(2) {

		height:100%;

		> div.thumbnails {

			height:15%;
			position:relative;

			ul {
				width: 100%;
				li {
					width:45%;
				}
			}
		}

		> div.content {

			height:75%;
			width:90%;
			margin:0 auto;
			position:relative;
			display:block;
			
			> div {

				position:absolute;
				height:100%;
				width:100%;	
				display:none;

				&:first-child {

					display:block;
				}

			}

		}
	}
}











