@import "variables";
@import "mixins";
@import "site_wide";

@width: 75%;

#navigation_left {

	li {

		padding-left:0.5em;
		padding-right: 0.5em;
	}
}

#header {

	position: fixed;
	left:200px;
	right:4%;
	top:5.85em;

	> h1 {

		position:relative;
		max-width:50%;
		margin:0 auto;
		text-align:center;
		.base_font(1.3em);
		.dark_background();
		padding:1em;
		.simple_radius();
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}	

}


/********** BASIC LAYOUT **********/
#content {

	display:block;
	position: fixed;
	bottom:2%;
	top:10em;
	.dark_background();
	.simple_radius();
	left: 200px;
	right:4%;
	max-height: 500px;
	overflow-y:auto;
	padding-bottom:200px;

	> div {

		position:relative;
		float: left;

		// slideshow container
		// total width 64%
		&:first-child {//this corresponds to the slideshow images class

			margin: 0em 0% 1.2em 2%;
			width: 62%;
		}

		// total width 26%
		&:nth-child(2) {//description div

			margin: 1.2em 0% 1.2em 2%;
			width: 32%;
		}

		&:nth-child(3) {

			width:96%;
			margin: 1.2em 2% 1.2em 2%;
		}
	}
}

/************ SLIDESHOW SECTION *********/
// slideshow image container / basic layout of the images etc
#slideshow {
	
	height:300px;//center each image agains this!

	> div {

		position: relative;
		float: left;
		height: 100%;
	}
	// total width 64%
	.content {//this corresponds to the slideshow images class

		margin: 1.2em 2% 1.2em 0%;
		width: 62%;

		> div {
			display:none;

			&:first-child{

				display:block;
			}
		}

	}

	// total width 26%
	.thumbnails {

		margin: 1.2em 0% 1.2em 0%;
		width: 36%;
		overflow-y:auto;
	}
}

#slideshow .content > div {//individual slides

	position:absolute;
	top:0;
	left:0;
	width:100%;
	.dark_background(0.8);
	padding-top:1.5em;
	padding-bottom:1.5em;
	max-height:100%;


	img {

		position:relative;
		display:block;
		top: 2%;
		max-width:96%;
		max-height:96%;
		margin:0 auto;
	}


}

#slideshow .thumbnails > div{//individual thumbnails

	float: left;
	width: 50%;
	height:100px;
	padding-top:0.5em;
	padding-bottom:0.5em;
	cursor:pointer;
	.dark_background(0.5);
	.simple_radius(5px);

	img {

		position:relative;
		display:block;
		max-width:90%;
		max-height:90%;
		margin:0 auto;
		vertical-align:center;
	}
}

#slideshow > .thumbnails > div.selected, #slideshow > .thumbnails > div:hover{

	.dark_background(0.8);
}


/************** DESCRIPTION *********/
#description {

	.dark_background(0.8);
	color: white;
	overflow-y:auto;

	>h1 {
		.base_font(1.2em);
		text-align:center;
	}

	> p {

		position:relative;
		display:block;
		width:80%;
		margin:0.5em auto;
		.base_font(1em);
	}
}



/********* ELEMENTS ***************/
#elements > div{

	float:left;
	width:47%;
	padding:5% 0% 0% 3%;

	> h1 {

		width:100%;
		.base_font(1.2em);
		text-align:center;
	}

	> hr {

		width:80%;
		margin:0.5em auto 1em;
	}

	> div {
		display:block;
		width: 100%;
		height:30px;

		>span {

			float:left;
			.base_font(1em);
			color:white;

			&:last-child {
				position:relative;
				top:0.1em;
				font-size:0.9em;
				margin-left:0.5em;
			}
		}

		clear:both;
	}



}


@media screen and (max-width: 960px) {

	#header {

		> span:nth-child(2) > h1 {

			top: 0.5em;
			font-size:1em;
		}

	}


}
