@import "variables";
@import "mixins";

/****** GLOBAL LISTING BUMPBOX STYLES *******/

.bumpbox.similar_properties, .bumpbox.listing_map {

	position:fixed;
	top:5%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	height:90%;


}


// this is built to the spec that there are only 5 similar looking properties permitted!
.bumpbox.similar_properties > div.header {
	> h1, h2 {
		text-align:center;
	}
}
.bumpbox.similar_properties > div.content {

	position:relative;
	height:80%;

	> div {//this corresponds to the individual thumbnail elements
		display:block;
		float:left;
		margin-left:1%;
		margin-bottom:2em;
		width:18%;
		height:80%;
		overflow-y:auto;
		.light_background();

		@radius:1em;

		&:first-child {

			border-top-left-radius:@radius;
		}

		&:nth-child(5) {

			border-top-right-radius:@radius;
		}

		&:nth-child(5n + 1) {

			border-bottom-left-radius:@radius;

		} 

		&:last-child {

			border-bottom-right-radius:@radius;

		}

		h1 {
			font-size: 1em;
		}

		> a {

			width:100%;
			cursor:pointer;
			display:block;
			position:relative;
		}

		> p {

			position: relative;
			width:80%;
			margin:1em auto;

		}

		img {
			position: relative;
			display:block;
			width:80%;	
			margin:1em auto;

			&:hover {
				padding:0.5em;

				.dark_background();
			}
		}
		// target specific elements!
	}//end individual content
}

