@import "variables";
@import "mixins";
@import "site_wide";

@width: 75%;

#navigation_left {

	li {

		padding-left:0.5em;
		padding-right: 0.5em;
	}
}

#header {

	position: fixed;
	left:200px;
	right:4%;
	top:5.85em;

	> h1 {

		position:relative;
		max-width:50%;
		margin:0 auto;
		text-align:center;
		.base_font(1.3em);
		.dark_background();
		padding:1em;
		.simple_radius();
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}	

}


/********** BASIC LAYOUT **********/
#content {

	display:block;
	position: fixed;
	bottom:2%;
	top:7.5em;
	.dark_background(1);
	.simple_radius();
	left: 200px;
	right:4%;
	max-height: 500px;
	overflow-y:auto;
	padding-bottom:200px;

	> div {

		position:relative;
		float: left;

		// slideshow container
		// total width 64%
		&:first-child {//this corresponds to the slideshow images class

			margin: 0em 0% 1.2em 2%;
			width: 62%;
		}

		// total width 26%
		&:nth-child(2) {//description div

			margin: 1.2em 0% 1.2em 2%;
			width: 32%;
		}

		&:nth-child(3) {

			width:96%;
			margin: 0em 2% 1.2em 2%;
		}
	}
}

/************ SLIDESHOW SECTION *********/
// slideshow image container / basic layout of the images etc
#slideshow {
	
	height:300px;//center each image agains this!

	> div {

		position: relative;
		float: left;
		height: 100%;
	}
	// total width 64%
	.content {//this corresponds to the slideshow images class

		margin: 1.2em 2% 1.2em 0%;
		width: 62%;

		> div {
			display:none;

			&:first-child{

				display:block;
			}
		}

	}

	// total width 26%
	.thumbnails {

		margin: 1.2em 0% 1.2em 0%;
		width: 36%;
		overflow-y:auto;
	}
}

#slideshow .content > div {//individual slides

	position:absolute;
	top:0;
	left:0;
	width:100%;
	.dark_background(0.8);
	padding-top:1.5em;
	padding-bottom:1.5em;
	height:100%;
	cursor: pointer;



	img {

		cursor: pointer;
		position:relative;
		display:block;
		top: 2%;
		max-width:96%;
		max-height:96%;
		margin:0 auto;
	}


}

#slideshow .thumbnails > div{//individual thumbnails

	float: left;
	width: 50%;
	height:100px;
	padding-top:0.5em;
	padding-bottom:0.5em;
	cursor:pointer;
	.dark_background(0.5);
	.simple_radius(5px);

	img {

		position:relative;
		display:block;
		max-width:90%;
		max-height:90%;
		margin:0 auto;
		vertical-align:center;
	}
}

#slideshow > .thumbnails > div.selected, #slideshow > .thumbnails > div:hover{

	.dark_background(0.8);
}


/************** DESCRIPTION *********/
#description {

	.dark_background(0.8);
	color: white;
	overflow-y:auto;

	>h1 {
		.base_font(1.2em);
		text-align:center;
	}

	> p {

		position:relative;
		display:block;
		width:80%;
		margin:0.5em auto;
		.base_font(1em);
	}
}

.next_prev{
	> ul {

		display:block;
		overflow-y:auto;
		list-style-type:none;
		position: relative;
		width: 100%;
		margin: 0;
		padding:0;

		> li {
			position: relative;
			float: left;
			width:47.5%;
			> a {

				width: 100%;
				display:block;
				.navigation_li(1);
				.base_font(1.1em);
				.light_background(0.3);
				padding: 0.5em 0 0.5em 0;
				text-align: center;
			}	

			&:first-child {

				margin-right:5%;
			}

			&:hover {

				.light_background(0.5);

			}
		}
	}
}

#surrounding {

	width: 100%;
	position: relative;
	margin-top: 1em;
	overflow-y:auto;
	display:block;

	.next_prev;
}

#pdf_link {
	
	width: 100%;
	position: relative;
	margin-top: 1em;
	display: block;

	a {
		display:block;
		position: relative;
		width: 50%;		
		margin: 0 auto;
		.base_font;
		text-align: center;

		&:hover {

			text-decoration: underline;
		}

		img {
		
			width: 50%;
			margin: 0 auto;
			display: block;
		}
	}
}


/********* ELEMENTS ***************/
#elements > div {

	float:left;
	width:47%;
	padding: 0% 0% 0% 3%;
	.dark_background(0.8);

	> h1 {

		padding:0;
		width:100%;
		.base_font(1.2em);
		text-align:center;
	}

	> hr {

		width:80%;
		margin:0.5em auto 1em;
	}

	> div {
		display:block;
		width: 100%;
		height:30px;

		>span {

			float:left;
			.base_font(1em);
			color:white;

			&:last-child {
				position:relative;
				top:0.1em;
				font-size:0.9em;
				margin-left:0.5em;
			}
		}

		clear:both;
	}
}

#slideshow_bumpbox {

	display: none;
	position: fixed;
	width: 80%;
	overflow-y: hidden;
	left: @page_container_left;	
	top: 4em;
	bottom: 4em;
	min-height: 300px;
	.dark_background(1.0);
	z-index:999999999999999999999999;

	> div.content {

		width: 100%;
		height: 80%;

		> img {

			display: block;
			position: relative;
			margin: 0 auto;
			height: 80%;
		}
	}

	> div.control {

		position: absolute;
		width: 30%;
		left:35%;
		cursor:pointer;
		.next_prev;

		> ul {

			padding:0;
			width: 100%;

			> li {
				.light_background();
				.base_font();

				margin:0;
				display:block;
				padding:1em 0 1em 0;
				text-align:center;
				position:relative;
				box-shadow:none;
				border:none;
			}
		}

	}		

	> div.exit {

		position: absolute;
		top: 0;
		right: 0;
		height: 20px;
		width: 20px;
		cursor: pointer;
		background-image: url('/resources/images/site_wide/exit.png');
		background-position: center;
		background-repeat: repeat;
		background-size: 100% 100%;
	}
}


/******** INITIALIZE RESPONSIVE CHANGES ETC FOR APPLICATION *******/
@media screen and (max-height: 600px) {

	#slideshow_bumpbox {
		
		height: 200px;

	}
}

@media screen and (max-width: 960px) {

	#header {

		> span:nth-child(2) > h1 {

			top: 0.5em;
			font-size:1em;
		}
	}
}

