@import "mixins.less";
@import "variables.less";

/*THIS PAGE MIXINS*/
.top_button{
		
	.trigger{
		display:block;
		.navigation_div();
		.dark_background(1);
		font-size:1.4em;
		border-bottom-left-radius:@generic_radius;
		border-bottom-right-radius:@generic_radius;
		&:hover{
			background-color:#363636;
		}
		a{
			position:relative;
			cursor:pointer;
			display:inline;
			text-align:center;
		}	
	}
	
	.content{
		display:none;
		position:absolute;
		top:50px;
		text-align:middle;
		color:white;
		font-size:1.2em;
		padding:5px;
		border-radius:@generic_radius;
	}
}

/*THIS IS HARD CODED IN BECAUSE I COULDN'T USE THE NAVIGATION TOP */
#navigation_management{
	
position:absolute;
	top:@border_width;
	right:@border_width*0.5;
	width:100%;
	.navigation_li(@dark_opacity, 1.1em, 10px);
	clear:both;
	li{
	padding:15px 10px 15px 10px;

		.border(@dark_shadow);
		border-top:none;
		border-right:none;
		border-left:none;
		margin-right:2px;
		float:right;
		max-width:12%;
		&:last-child{
			border-bottom-left-radius:@navigation_border_radius;
			.border(@dark_shadow);
			border-top:none;
			border-right:none;
		}
		&:first-child{
			margin:0;
		}
	}
}

#page_container{
	/*THIS IS THE MASTER HOLDER WITH THE RIGHT SIDE PADDING TO HIDE THE NAV BAR*/
	position:absolute;
	top:170px;
	right:0;
	left:@page_container_left;
	right:-@border_width*1.5;
	padding-right:@border_width*2;
	bottom:@border_width;
	overflow-y:auto;
}

#page_content{
	position:relative;
	padding:50px;
	max-width:100%;
	margin:none;
}

/*PAGE_CONTENT HOLDS MOST OF THE MANAGEMENT CSS*/
#page_content{
	/*THIS IS THE GENERIC FOR THE MANAGEMENT PAGE*/
	text-align:center;
	padding-top:5%;
	.dark_background(0.5);
	border-radius:@generic_radius;
	.base_font();
	padding-bottom:20%;
	height:inherit;

	form{
		display:block;
		width:100%;
		clear:both;

		div{
			float:left;
			width:33%;
		}

		margin-bottom:50px;
		min-height:200px;
	}
	
	.general{
		display:block;
		position:relative;
		width:100%;
		min-height:400px;
		clear:both;
		
	}
	
	.browse{
		width:100%;
		div{
			width:50%;
		}
	}
	
	.rent, .buy{
			position:relative;
			left:0;
			margin:0;
			width:100%;
			input{
				width:50%;
			}
		}
	
	input[type="text"]{
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	
	textarea{
		width:80%;
		margin-left:auto;
		margin-right:auto;
		resize:none;
	}

	input[type="radio"]{
			cursor:pointer;
	}
	
	input[type="submit"], button{
		cursor:pointer;
		margin-top:20px;
		padding:5px 20px 5px 20px;
		.base_font(1.2em);
		.border_radius();
		&:hover{
			.light_background();
			color:black;
		}
	}
	
	h3{
		margin-bottom:0px;
	}
}

#create_listing{
	.rent, .buy{
		display:none;
	}
}

#management_dashboard{
	z-index:100;
	position:fixed;
	top:@page_container_top;
	right:@page_container_right;

	div{
		float:right;
		position:relative;
		.top_button;
	}
}

#login{
	input[type="text"], input[type="password"]{
		width:100px;
		color:gray;
		
		&:focus{
			color:black;
		}
	}	
}

#search_form, #remove_listing{
	width:100%;
	h1{
		position:relative;
		
	}
	clear:both;
	div{
	
		div.thumbnail{/*THUMBNAIL DIV*/
			position:relative;
			top:0;
			left:0;
			width:80%;
			margin:0 auto;
			margin-bottom:10px;
			clear:both;
			padding:0;
			height:50px;
		
			span{
				.light_background();
				position:relative;
				margin:0;
				display:block;
				width:40%;
				height:100%;
				float:left;
				padding:0;
				margin-left:5%;
				
				&:first-child{
					margin:0;
					background-color:transparent;
					width:10%;
				}
			
				img{
					clear:both;
					position:relative;
					left:0;
					margin:0px;
					max-height:100%;
					margin:0;

				}
			
				a{
					text-align:middle;
					clear:both;
					height:100%;
					width:100%;
					display:block;
					&:hover{
						.dark_background();
					}
				}
			}/*THIS IS THE BLOCK FOR THE THUMBNAIL*/
		}/*THIS IS THE END OF THE THUMBNAIL*/
	}
}


