@import "variables";
@import "mixins";
@import "site_wide";
@import "thumbnail.less";//include the general thumbnail elemnents

#page_container{
	/*THIS IS THE MASTER HOLDER WITH THE RIGHT SIDE PADDING TO HIDE THE NAV BAR*/
	position:absolute;
	top:220px;
	right:0;
	left:@page_container_left;
	right:3%;
	bottom:@border_width;
	overflow-y:auto;
	.dark_background(0.6);
	border-top-right-radius:20px;
	border-top-left-radius:20px;
}

#page_content{
	position:relative;
	padding:50px;
	max-width:100%;
	margin:none;
	padding-top:0;

}

#navigation_browse{
	
	.nested_navigation;
}


#header{
	width:30%;
	position:relative;
	top:90px;
	max-width:50%;
	display:block;
	margin:0 auto;
	text-align:center;
	overflow:auto;
	.base_font();
	color:white;
	font-size:0.8em;
	border-radius: 20px;
	padding: 0.42em;
	.dark_background();

}

/* THUMBNAIL CONTENTS FOR THIS PAGE ***/
#thumbnail_container {

	position: relative;
	width:100%;
	display:block;
	.base_font();
	top:1em;
	padding: 1em;
	border-radius:20px;
	min-height: 200px;
	overflow-y:auto;

	> .message {

		display:block;
		color: white;
		width:100%;
		position:relative;

		> h1 {
			text-align:center;
		}

		> p {

			width:80%;
			font-size:1.3em;
			display:block;
			margin:0 auto;
		}
	}//end of message
}//end of thumbnail container messages

#thumbnail_container > div.thumbnail {

	.general_thumbnail;//include the thumbnail mixin

}//end of individual containers



/*MEDIA QUERIES*/
@media only screen and (max-width: 1200px) {

	#search{
		form{
			input[type="text"]{
				width:200px;
				font-size:0.8em;
			}
		}	
	}
	
	#header{
		position:relative;
		top:110px;
		font-size:0.7em;
	}
}

@media only screen and (max-width:900px) {

	#header {

		display:none;

	}

	#thumbnail_container {

		top:0;
	}

	#page_container {

		top: 160px;
	}
}

@media only screen and (max-width:600px) {

	#page_container {

	left: 120px;

	}
}

// resize the thumbnails to make sure that they are proportional for the different screen sizes to ensure no pixelation
@media only screen and (max-width:1024px) {

	#thumbnail_container > div.thumbnail {

		width: 125px;
		height: 125px;
	}

}



