@import "variables";
@import "mixins";
@import "site_wide";
@import "thumbnail.less";//include the general thumbnail elemnents

#page_container{
	/*THIS IS THE MASTER HOLDER WITH THE RIGHT SIDE PADDING TO HIDE THE NAV BAR*/
	position:absolute;
	top:220px;
	right:0;
	left:@page_container_left;
	right:3%;
	bottom:@border_width;
	overflow-y:auto;
	.dark_background(0.6);
	border-top-right-radius:20px;
	border-top-left-radius:20px;
}

#page_content{
	position:relative;
	padding:50px;
	max-width:100%;
	margin:none;
	padding-top:0;

}

#navigation_browse{
	z-index:100;
	@li_width:130px;
	position:absolute;
	bottom:2*@border_width;
	left:0.5*@border_width;
	.navigation_li(@dark_opacity, 1.1em, 20px);
	@border_radius:20px;
	@secondary_radius:10px;
	
	li{
		.box_shadow(@dark_shadow, 6px, 0px);
		margin-top:2px;
		&:first-child{
			border-top-right-radius:@border_radius; 
			margin:none;
			/*THIS IS TO ADD THE FIRST-CHILD BORDER RADIUS LOGIC...SHOULD BE JS LATER BUT WHATEVER*/
		}
		&:last-child{
			border-bottom-right-radius:@border_radius;
		}
		
		cursor:pointer;
		position:relative;


		ul{
			.navigation_li(@dark_opacity, 0.8em, 15px);
			text-align:center;
			width:@li_width;
			list-style-type:none;
			display:none;
			position:absolute;
			right:-@li_width;
			bottom:0;
			padding:0;
			margin:0;
			
			li{
				margin-left:2px;
			}
			
			li:hover{
				margin-left:3px;
			}
			
			li:first-child{
				border-top-right-radius:@secondary_radius;
			}
			
			li:last-child{
				border-bottom-right-radius:@secondary_radius;
			}
		}
		
		&:hover {

			ul {
				display:block;
			}
		}

	}
	
	li:nth-child(2){
		li:first-child{
			border-top-left-radius:@secondary_radius;
		}
	}
}


#header{
	width:30%;
	position:relative;
	top:90px;
	max-width:50%;
	display:block;
	margin:0 auto;
	text-align:center;
	overflow:auto;
	.base_font();
	color:white;
	font-size:0.8em;
	border-radius: 20px;
	padding: 0.42em;
	.dark_background();

}

/* THUMBNAIL CONTENTS FOR THIS PAGE ***/
#thumbnail_container {

	position: relative;
	width:100%;
	display:block;
	.base_font();
	top:1em;
	padding: 1em;
	border-radius:20px;
	min-height: 200px;
	overflow-y:auto;

	> .message {

		display:block;
		color: white;
		width:100%;
		position:relative;

		> h1 {
			text-align:center;
		}

		> p {

			width:80%;
			font-size:1.3em;
			display:block;
			margin:0 auto;
		}
	}//end of message
}//end of thumbnail container messages

#thumbnail_container > div.thumbnail {

	.general_thumbnail;//include the thumbnail mixin
}//end of individual containers



/*MEDIA QUERIES*/
@media only screen and (max-width: 1200px) {

	#search{
		form{
			input[type="text"]{
				width:200px;
				font-size:0.8em;
			}
		}	
	}
	
	#header{
		position:relative;
		top:110px;
		font-size:0.7em;
	}
}

@media only screen and (max-width:900px) {

	#header {

		display:none;

	}

	#thumbnail_container {

		top:0;
	}

	#page_container {

		top: 160px;
	}
}

@media only screen and (max-width:600px) {

	#page_container {

	left: 120px;

	}


}

