@import "variables";
@import "mixins";

body{
	overflow:hidden;
	list-style-type:none;
	text-decoration:none;
	a{
		text-decoration:none;
		color:white;
	}
}

#top_border{
	.page_border;
	.dark_background(@dark_opacity);
	top:0;
	left:0px;
	right:0px;
	width:100%;
	height:@border_width;
}

#bottom_border{
	.page_border;
	.dark_background(@dark_opacity);
	width:100%;
	bottom:0;
	left:0;
	height:@border_width;
}

#left_border{
	.page_border;
	left:0;
	width:@border_width*0.5;
	.dark_background(@dark_opacity);
	top:@border_width;
	bottom:@border_width;
}

#right_border{
	.page_border;
	top:@border_width;
	right:0;
	bottom:@border_width;
	width:@border_width*0.5;
	.dark_background(@dark_opacity);
}

#background{
/*	display:none;*/
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	div {
		display:none;
		&:first-child {
			display:block;
		}
	}
	img{
		position:absolute;
		top:0;
		left:0;
		min-width:100%; /*this needs to be changed in the mobile version*/
		max-width:100%;
		max-width:120%; /*this needs to be changed in the mobile version!*/
		min-height:100%;
	}
}

#logo{
	position:absolute;
	top:@border_width * 1.7;
	left:@border_width*1;
	height:@logo_height;
	cursor:pointer;
	&:hover{
		border-bottom-right-radius:20px;
	}
	img{
		height:100%;
	}
}

#navigation_top{
	z-index:20;
	position:absolute;
	top:@border_width;
	right:@border_width*0.5;
	.navigation_li(@dark_opacity, 1.1em, 30px);
	clear:both;

	li{
		.border(@dark_shadow);
		border-top:none;
		border-right:none;
		border-left:none;
		margin-right:2px;
		float:right;
		&:last-child{
			border-bottom-left-radius:@navigation_border_radius;
			.border(@dark_shadow);
			border-top:none;
			border-right:none;
		}
		&:first-child{
			margin:0;
		}
	}
}

#navigation_left {

	.nested_navigation;

}

#search{

	/*VARIABLES*/
	@icon_width:50px; /*this is so that we can have an image for the search bar icon*/
	@icon_height:25px;
	
	
	position:absolute;
	right:@border_width;
	top:100px;

	form{
		input[name="search"]{
			position:absolute;
			right:0;
			width:280px;
			.base_font(1em);
			.border_radius(20px);
			@dim: 2px;
			padding: @dim @icon_width @dim 25px;
			height:@icon_height;
			.dark_background(0.5);

			&:focus{
				.dark_background();
				outline:none;
			}
		}
		
		input[type="image"]{
			cursor:pointer;
			position:absolute;
			top:4px;
			bottom:2px;
			right:10px;
			height:@icon_height;
			width:30px;
			.border_radius(5px, 5px, 5px, 5px, 5px);
			overflow:hidden;
		
			&:hover{
				.light_background(0.65);
			}
		}/*END OF INPUT IMAGE*/
	}
}


/*MEDIA QUERIES--TO HELP MAINTAIN*/

@media only screen and (min-width:100px) and (max-width:850px) {
	
	#navigation_top{
		.navigation_li(@dark_opacity, 1em, 10px);
		li{
			padding-top:20px;
			padding-bottom:20px;
		}
	}
}
